
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Home Controller</h1>
<a asp-controller="foods" asp-action="index">Food</a>
<a asp-controller="about" asp-action="index">About</a>|
<a asp-controller="category" asp-action="index">category</a>|
<a asp-controller="tag" asp-action="index">Tag</a>|

